{% extends 'base.html' %}

{% block title %}登录{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

{% block main %}

    <div class="login-box">
        <div class="logo-box">
            <img class="login-logo"  src="{{ url_for('static',filename="images/logo.png") }}">
        </div>

        <form action="" method="post">

            <div class="username-box">

                <input type="text" class="username" name="username"  placeholder="Username/Telephone" maxlength="11">
            </div>

            <div class="password-box">
                <input type="password" class="password"  name="password" placeholder="Password">
            </div>

            <div class="check-box">
                <input class="ck" type="checkbox" name="check">记住密码
            </div>

            <div class="submit-box">
                <button class="button">登录</button>
            </div>

        </form>
    </div>

{% endblock %}